@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    The Controller is : @ViewBag.Controller
    </div>

    <div>
        The Controller is : @ViewBag.Action
    </div>
</body>
</html>
